@import '../colors';

.content-heading {
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  box-shadow: 0px 2px 5px #ccc;
  margin-bottom: 10px;

  &__cover {
    width: 100%;
    height: auto;
  }

  &__details::before {
    content: '[ ';
  }

  &__details::after {
    content: ' ]';
  }

  &__details {
    color: $secondary-title-color;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 16px;

    &--bold {
      font-weight: 600;
    }
  }
}
