@import '../reset';
@import '../components/top-nav/top-nav';
@import '../components/header/header';
@import '../components/elements/heading';
@import './content-heading';
@import './player-card';
@import './player';
@import '../colors';

$font-size-primary-text: 15px;

.content {
  padding: 0 5px;
  margin-top: 5px;

  &__body::before,
  &__body::after {
    display: inline-block;
    position: relative;
    left: 50%;
    content: ' ';
    border-top: 1px solid $primary-text-color;
    width: 90%;
    transform: translateX(-50%);
  }

  &__body {
    padding: 0 15px;
    text-align: justify;
  }

  &__paragraph {
    margin: 20px 0;
    font-size: $font-size-primary-text;
    color: $primary-text-color;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 300;

    &--bold {
      font-weight: 400;
    }
  }
}
