@import '../../colors';

$font-size-primary-heading: 24px;

.heading {
  text-align: center;

  &__primary {
    color: $primary-title-color;
    letter-spacing: 0;
    font-size: $font-size-primary-heading;
    font-weight: 900;
    line-height: 30px;

  }
}
