@import '../../colors';

$font-size-primary-heading: 24px;

.heading {
  text-align: center;

  &__primary {
    color: $primary-title-color;
    letter-spacing: 0;
    font-size: $font-size-primary-heading;
    font-weight: 900;
    line-height: 30px;

  }

  &__small {
    color: $secondary-title-color;
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 16px;
  }
}
