@import '../../colors';
@import '../../z-index';

.header {
  background-color: $website-background-color;
  box-shadow: 0px 0px 2px $box-shadow-color;
  z-index: $above-2;
  position: sticky;
  top: 0;
  text-align: center;

  &__logo {
    margin-left: 5px;
    width: 180px;
    height: auto;
  }
}
